# Ignore node_modules folders
node_modules/

# Ignore build/dist folders
dist/

# Environment variables and sensitive files
.env
*.pem

# Logs
*.log

# Dependency lock files (if you don't want to track them)
package-lock.json

# Temporary files and editor-specific files
*.tmp
*.swp
*.swo
.DS_Store
.vscode/
.idea/

# Ignore TypeScript compiled files
*.js
*.js.map
*.d.ts
