/* src/styles/App.css */
.app-title {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #0A223D;
  margin: 20px 0 10px; /* Match table's spacing for consistency */
  text-align: left; /* Align text within the title */
}

.tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 8px;
}

.tab-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: #333;
}

.tab-button.active {
  background-color: #007bff;
  color: white;
  border-radius: 5px;
}

.tab-button:hover {
  background-color: #d0d0d0;
}

.tab-content-wrapper {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
}

