/* src/css/App.css */
.app-title {
    font-family: "Montserrat", sans-serif; /* Montserrat with fallback */
    margin-top: 20px; /* Add some spacing above */
    color: #0A223D; /* Optional: Use a dark blue color */
    font-size: 24px; /* Adjust font size as needed */
    font-weight: 700; /* Bold weight for emphasis */
  }
  